<div class="row">
  <div class="one columns list">
  </div>
  <div class="three columns">
    <h5>Browse All Locations</h5>
    <ul id="locations-list">
      <li ng-repeat="location in locations" ng-click="pickLocation(location.latitude, location.longitude)">
        <div class="name">{{ location.name }}</div>
        <div class="address">{{ location.location }}</div>
        <a class="more-info" href="#/locations/{{ $index }}">More Info</a>
      </li>
    </ul>
  </div>
  <div class="five columns">
    <div id="map">
    </div>
  </div>
  <div class="three columns" ng-controller="emailsController">
    <form id="email" ng-submit="createEmail()">
    <label>Join our mailing list for updates and events!</label>
    <input ng-model="newEmail.firstname" type="text" class="u-full-width" placeholder="First Name">
    <input ng-model="newEmail.lastname" type="text" class="u-full-width" placeholder="Last Name">
    <input ng-model="newEmail.email" type="text" class="u-full-width" placeholder="Email">
    <input type="submit" value="Submit">
    </form>
  </div>
</div>
