<div class="location-detail">
  <div id="location-title">{{location.name}}</div>
  <p>{{location.location}}</p>
  <p><strong>Materials Accepted:</strong><br><span class="gold">{{location.materials_accepted}}</span></p>
  <p><strong>Days/Hours:</strong><br><span class="gold">{{location.days}}&nbsp;/&nbsp;{{location.hours}}</span></p>
  <p><strong>Months of Operation:</strong><br><span class="gold">{{location.months_of_operation}}</span></p>
  <p><strong>Requirements:</strong><br><span class="gold">{{location.requirements}}</span></p>
  <p><strong>Organizer:</strong><br><span class="gold">{{location.organizer}}</span></p>
  <p><strong>Composted By:</strong><br><span class="gold">{{location.composted_by}}</span></p>
  <p><strong>Website:</strong><br><span class="gold">{{location.website}}</span></p>
</div>
